.hidden { display: none; }
.flex { display: flex; }
.column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-grow { flex-grow: 1; }
.align-items-center { align-items: center; }
.align-items-stretch { align-items: stretch; }
.justify-content-between { justify-content: space-between; }
.justify-content-center { justify-content: center; }

.p-xxsmall { padding: var(--size-xxsmall); }
.p-xsmall { padding: var(--size-xsmall); }
.pt-xxxsmall { padding-top: var(--size-xxxsmall); }
.pt-xxsmall { padding-top: var(--size-xxsmall); }
.pb-xxsmall { padding-bottom: var(--size-xxsmall); }
.mb-xxsmall { margin-bottom: var(--size-xxsmall); }
.mb-xsmall { margin-bottom: var(--size-xsmall); }
